.card{
  color: black;
  background-color: rgb(183, 235, 171);
  text-align: center;
  margin: 10px;
  width: 200px;
  display: flex;
  
  
  
  display: inline-block;
}
.card img{
  width: 150px;
  padding: 20px;
}